---
import { Button } from "@/shared/components/ui/button";
import TestimonialCarousel from "./TestimonialCarousel";
---

<section class="bg-neutral-100 py-8 mt-8 mb-16">
  <div class="pageStyle px-2">
    <div class="text-center">
      <h2
        class="text-2xl sm:text-3xl md:text-2xl font-serif font-bold tracking-wide"
      >
        What Our Customers Say
      </h2>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    </div>

    <TestimonialCarousel />

    <a href="/review" class="mt-4 flex items-center justify-center">
      <Button>Write a review</Button>
    </a>
  </div>
</section>
