---
import SigninPage from "@/modules/auth/components/Signin";
import Layout from "@/shared/layouts/Layout.astro";
import registerImage from "@/assets/images/registerImage.jpg";
import loginImage from "@/assets/images/loginImage.jpg";

---

<Layout>
  <div class="flex h-full w-full items-center justify-center">
    <div class="md:max-w-[50%] hidden md:flex border">
      <img
        src={loginImage.src}
        alt="banner-image"
        class="h-[480px] w-full object-cover"
      />
    </div>
    <SigninPage client:load />
  </div>
</Layout>
