---
import Layout from "@/shared/layouts/Layout.astro";
import TestPage from "../shared/components/test";
---

<Layout
  title="Fasco | Trendy Fashion for Men & Women"
  description="The home of high fashion."
>
  <!-- <TestPage client:load /> -->
  <!-- <a href="/signup" class="text-3xl">Vist the signup page</a> -->
</Layout>
