---
import Layout from "@/modules/layouts/Layout.astro";
---

<Layout
  title="Fasco | Trendy Fashion for Men & Women"
  description="The home of high fashion."
>
  Onboarding page
  <a href="/dashboard" class="text-2xl">Dashboard page</a>
</Layout>
