---
import Layout from "@/modules/layouts/Layout.astro"
import SignupPage from "@/modules/auth/signup"
---



<Layout>
   The signup page
   

	<a href="/">Go back home</a>


   <SignupPage client:load />
</Layout>