---
import { ClientRouter } from "astro:transitions";
import "../../assets/styles/global.css";
import Header from "./components/Header.astro";
import Footer from "./components/Footer.astro";

const { title, description } = Astro.props;
// const user = Astro.locals.user;
// const session = Astro.locals.session;

// console.log({ user, session });
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ? title : "Fasco | Trendy Fashion for Men & Women"}</title>
    <meta name="description" content={description ? description : "F"} />

    <ClientRouter />
  </head>
  <body class="min-h-screen flex flex-col">
    <Header />

    <main class="flex-1 p-4">
      <slot />
    </main>

    <Footer />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
