---
import Layout from "@/shared/layouts/Layout.astro";
import slider from "@/assets/images/slider.png";
import Newsletter from "@/modules/index/components/Newsletter";
import FollowUs from "@/modules/index/components/FollowUs";
const { productId } = Astro.params;
import {
  Breadcrumb,
  BreadcrumbItem,
BreadcrumbLink,
  BreadcrumbList,
  BreadcrumbPage,
  BreadcrumbSeparator,
} from "@/shared/components/ui/breadcrumb";
import { getProductBySlug } from "@/pages/api/v1/products/[id]";
import ProductAction from "@/modules/product/components/ProductAction";

const product = await getProductBySlug(productId as string);
// console.log(product, productId);
---

<Layout
  title={`Fasco - ${productId}`}
  description="Browse all fashion items including men's and women's clothing, shoes, belts, and more. Curated styles for every look — only at Fasco."
>
  <div>
    <section class="pageStyle mb-24">
      <h2
        class="text-2xl sm:text-3xl md:text-2xl font-serif font-bold tracking-wide text-center"
      >
        Product
      </h2>
      <Breadcrumb
        className="flex items-center justify-center gap-4 mt-2 text-sm"
      >
        <BreadcrumbList>
          <BreadcrumbItem>
            <BreadcrumbLink href="/">Home</BreadcrumbLink>
          </BreadcrumbItem>
          <BreadcrumbSeparator />
          <BreadcrumbItem>
            <BreadcrumbLink href="/shop">Shop</BreadcrumbLink>
          </BreadcrumbItem>
          <BreadcrumbSeparator />
          <BreadcrumbItem>
            <BreadcrumbPage>{product[0].productName}</BreadcrumbPage>
          </BreadcrumbItem>
        </BreadcrumbList>
      </Breadcrumb>
    </section>

    <ProductAction client:only product={product[0]} />
  </div>

  <section class="hidden md:block mb-16">
    <img src={slider.src} alt="top-banner-image" class="" />
  </section>

  <FollowUs />
  <Newsletter />
</Layout>
